# doc

# src
[submodule "src/desmod"]
	path = src/desmod
	url = https://github.com/c-w-m/desmod.git
[submodule "src/simpy"]
	path = src/simpy
	url = https://github.com/c-w-m/simpy.git
[submodule "src/FP-2ed"]
	path = src/FP-2ed
	url = https://github.com/c-w-m/FP-2ed.git
