# doc
[submodule "doc/myhdl/myhdl-site"]
	path = doc/myhdl/myhdl-site
	url = https://github.com/c-w-m/myhdl-site.git

# src
[submodule "src/myhdl"]
	path = src/myhdl
	url = https://github.com/c-w-m/myhdl.git
[submodule "src/desmod"]
	path = src/desmod
	url = https://github.com/c-w-m/desmod.git
