[Desktop Entry]
Encoding=UTF-8
Name=Link to tek/amino: functional data structures and utilities for python
Type=Link
URL=https://github.com/tek/amino
Icon=text-html
