[Desktop Entry]
Encoding=UTF-8
Name=Link to Functional Programming with Python | Modifying Data Structures - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=HVd5N6hFlOM
Icon=text-html
