[Desktop Entry]
Encoding=UTF-8
Name=Link to Excel Dependencies - Decision Models
Type=Link
URL=https://www.decisionmodels.com/calcsecretsd.htm
Icon=text-html
