[Desktop Entry]
Encoding=UTF-8
Name=Link to Excel Calculation Process - Decision Models
Type=Link
URL=https://www.decisionmodels.com/calcsecretsc.htm
Icon=text-html
