[Desktop Entry]
Encoding=UTF-8
Name=Link to FastExcel V4 Profiler
Type=Link
URL=https://www.decisionmodels.com/FastExcelV4Profiler.htm
Icon=text-html
